.button {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    color: grey;
    font-size: 1em;
    background-color: white;
    border: 5px solid grey;
    font-weight: 500;
}
.button:active {
    border-color: #efdcff;
    background-color: grey;
    color: #efdcff;
}