.container {
    display: flex;
    height: calc(95% - 20px);
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
}
.vocabContainer {
    padding: 20px;
    height: 100px;
    text-align: center;
}
.singleCharacterEdit {
    padding: 10px;
}
.inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}