.singleCharacterEdit {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
}
.singleCharacterEdit form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.singleCharacterEdit div {
    display: flex;
    justify-content: center;
}
.singleCharacterEdit h1 {
    font-size: 25vh
}
.buttonContainer {
    padding: 2em;
}