.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 0;
}
.container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container button {
    z-index: 2;
}
.button {
    border-radius: 0.75em;
    width: 1.5em;
    height: 1.5em;
    border: none;
    background-color: #CDE7C9;
    position: relative;
    padding: 0;
}

.activeButton {
    padding: 0;
    border-radius: 0.75em;
    width: 1.5em;
    height: 1.5em;
    border: none;
    background-color: #008F5A;
    position: relative;
    transition: background-color ease-in-out 0.2s;
}
.activeButton ~ span {
    font-weight: bold;
}
.container button span {
    position: absolute;
    white-space: nowrap;
    top: 200%;
    transform: translate(-50%, -50%);
}

.container div:nth-child(-n+3):after {
    content: '';
    height: 0.5em;
    background-color: #CDE7C9;
    position: absolute;
    width: 31vw;
    left: 50%;
    top: 0.333em;
}

@media only screen and (min-width: 1450px) {
    .container div:nth-child(-n+3):after {
        width: 32vw;
    }
}