.container {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    font-size: 2em; 
    align-content: center;
    padding-top: 10%;
}
@media (min-width: 700px) {
    .container {
        width: 60%;
    }
}
.hanzi {
    display: inline-flex;
    align-items: center;
    padding-bottom: 0.5em;
}
.hanzi .text {
    padding-top: 0.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
.text {
    /* padding-top: 1em; */
    line-height: 3em;
}
.textBlock {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}