.container {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #005234;
}
.english {
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    animation-name: englishDown;
    animation-duration: 0.5s;
}
.buttonContainer {
    display: flex;
    font-size: 1rem;
    padding: 1em;
}

@keyframes englishDown {
    0% {
        transform: translateY(-3em);
        opacity: 0;
    }
}