.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    /* Add grid */
}
.container h1 {
    max-height: 50vh;
    display: flex;
    align-items: center;
}