.container {
    border-bottom: 2px solid orange;
    width: 100%;
    margin: 5px 0;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    box-sizing: border-box;
    position: relative;
    height: auto;
    transition: 
        height 0.1s ease-in-out,
        font 0.1s ease-in-out
}
.clicked {
    font-size: 2em;
    font-weight: bold;
    height: 2em;
}