.grid {
    height: calc(100% - 5vh);
    width: 100%;
    display: grid;
    gap: 0.5rem;
    grid-auto-rows: 1fr 4fr 1fr;
}
.middleRow {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tonePadContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: min(calc(100vw - 20px), 100%);
    aspect-ratio: 1 / 1;
    position: relative;
}
.tonePadContainer h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: clamp(1px, 85vw, 450px);
    position: absolute;
}
.singleToneEdit h2 {
    font-size: 20vw;
}
.nextButtonContainer {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.crossContainer {
    position: relative;
    border: 2px solid grey;
    width: 100%;
    height: 100%;
}
.verticalLine {
    position: absolute;
    height: 100%;
    width: 0;
    left: calc(50% + 2px);
    border-left: 2px dashed grey;
}
.horizontalLine {
    position: absolute;
    width: 100%;
    height: 0;
    top: calc(50% + 2px);
    border-bottom: 2px dashed grey;
}