.singleToneEdit {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    /* Add grid here with section for AnimatedPinyin, another for TonePad, and smaller one for button */
}
.container {
    position: relative;
    padding-bottom: 10px;
    width: 100%;
    height: 100vw;
}
.singleToneEdit h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90vw;
    height: 100vw;
    width: 100%;
    position: absolute;
}
.singleToneEdit h2 {
    font-size: 20vw;
}
.nextButtonContainer {
    padding: 10px;
    position: relative;
    display: flex;
}
.crossContainer {
    width: 100%;
    height: 100vw;
    top: 0;
    position: absolute;
    z-index: 0;
    border: 2px solid grey
}
.verticalLine {
    position: absolute;
    height: 100%;
    width: 0;
    left: calc(50% + 2px);
    border-left: 2px dashed grey;
}
.horizontalLine {
    position: absolute;
    width: 100%;
    height: 0;
    top: calc(50% + 2px);
    border-bottom: 2px dashed grey;
}